  /* .t{ 
    margin-left: 20%;
    margin-top: 15%;
    margin-right:50%;
    margin/*-bottom: 20%;

 }  */
 /* .todo{ 
    margin:0 auto;
}  */
h1 {
    color: #f7f6f0;
}
.todo-list {
    background-color: #71777d;
    margin-top: 40px;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    min-height: 60vh;
}
body{
    background-color: #fff;
}
#additem{
    background-color:rgba(0, 0, 0, 0);
    border-color: #f7f6f0;
    border-width: 1px;
}
#add{
    width:100%;
}

.npnm {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    padding:0;
    margin:0;

}
ul li{
    border: 1px solid #ccc;
    background: #eee;
    padding: 5px 10px;
    color: #000;
    position: relative;
    width: 100%;
}
li span{
    padding-left: 20px;
}
.checked{
    text-decoration: line-through;
}
.crossed{  
background-color: DodgerBlue;
border: none;
color: white;
padding: 2px 6px 2px 6px;
font-size: 8px;
cursor: pointer;
}
li button{
    position: absolute;
    right: 10px;
    /* top: 150px; */

}
h1{
  text-align-last: center
}
.item{
    margin-bottom: 4px;
    border-radius: 5px;
    height: 38px;
}